<div class="container">
  <h1>Roupas alugadas</h1>
  <div class="cards">
    <% @rents.each do |rent| %>
      <div class="card-trip">
        <% if rent.offer.photo.attached? %>
          <%= cl_image_tag rent.offer.photo.key, height: 200, width: 200, crop: :fill %>
        <% else %>
          <p><%= image_tag("cabide.jpg") %></p>
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to rent.offer.name.capitalize, rent_path(rent), class: "a-primary" %></h2>
            <p>Valor: <%= rent.price %></p>
          </div>
          <div class="card-trip-pricing">
            <p> Begin date: <%= rent.begin_date %></p>
            <p> Final date: <%= rent.final_date %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>