<div class="container">
  <h1>Roupas alugadas</h1>
  <div class="cards">
    <% @rents.each do |rent| %>
      <div class="card-trip">
        <% if rent.offer.photo.attached? %>
          <%= cl_image_tag rent.offer.photo.key, height: 200, width: 200, crop: :fill %>
        <% else %>
          <p><%= image_tag("cabide.jpg") %></p>
        <% end %>
        <div class="text-center my-2">
          <%= link_to "Avaliar", new_rent_reviews_path(rent), class: "btn btn-outline-secondary
            #{' disabled' unless (rent.review.nil? && rent.final_date < Date.today) }" %>
        </div>
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to rent.offer.name.capitalize, offer_path(rent.offer), class: "a-primary" %></h2>
            <p>Valor: <%= rent.price %></p>
          </div>
          <div class="card-trip-pricing">
            <p> Alugado em: <%= rent.begin_date %></p>
            <p> até: <%= rent.final_date %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
