<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_url("roupas.jpg") %>);">
  <div class="container">
    <h1>Me <strong>empresta</strong> hoje!</h1>
    <p>Que roupa você quer usar?</p>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% @offers.each do |offer| %>
      <div class="card-trip">
        <% if offer.photo.attached? %>
          <p><%= cl_image_tag offer.photo.key, height: 300, width: 400, crop: :fill %></p>
        <% else %>
          <p><%= image_tag("cabide.jpg")  %></p>
        <% end %>
        <div class="card-trip-infos">
          <p><%= link_to offer.name, offer_path(offer) %></p>
        </div>
        <div class="card-trip-pricing">
          <% if offer.user == current_user %>
            <%= link_to 'Edit', edit_offer_path(offer) %>
            <%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
