<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_url("roupas.jpg") %>);">
  <div class="container">
    <h1>Me <strong>empresta</strong> hoje!</h1>
    <p>Que roupa você quer usar?</p>
  </div>
</div>

<div class="container">

  <div class="cards">
    <% @offers.each do |offer| %>
      <div class="card-trip">
        <% if offer.photo.attached? %>
          <%= cl_image_tag offer.photo.key, height: 200, width: 200, crop: :fill %>
        <% else %>
          <p><%= image_tag "vestido_no_cabide.jpg", height: 200, width: 200, crop: :fill %></p>
        <% end %>
        <div class="card-trip-infos">

          <div>
            <h2><%= link_to offer.name.capitalize, offer_path(offer), class: "a-primary" %></h2>
            <p><%= offer.description %></p>
          </div>
          <div class="card-trip-pricing">
            <% if offer.user == current_user %>
              <p><%= link_to 'Editar', edit_offer_path(offer), class: "a-primary"%></p>
              <p><%= link_to 'Apagar', offer, method: :delete, data: { confirm: 'Are you sure?' }, class: "a-primary"%></p>
            <% end %>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>

