<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Me empresta hoje!</h1>
  <h2>Que roupa você quer usar?</h1>

 

    <div class="card">
      <% @offers.each do |offer| %>
        <% if offer.photo.attached? %>
          <p class="card-img-top"><%= cl_image_tag offer.photo.key, height: 300, width: 400, crop: :fill %></p>
        <% else %>
          <p class="card-img-top"><%= image_tag("cabide.jpg")  %></p>
        <% end %>
      <div class="card-body">
        <p><%= link_to offer.name, offer_path(offer) %></p>
        <p><%= link_to 'Edit', edit_offer_path(offer) %></p>
        <%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <% end %>
      </div>
    </div>

    

  <br>
  <% if policy(Offer).create? %>
    <%= link_to 'New offer', new_offer_path %>
  <% end %>
</div>