<div class="container">
  <h1>Minhas roupas</h1>
  <div class="cards">
    <% @offers.each do |offer| %>
      <div class="card-trip">
        <% if offer.photo.attached? %>
          <%= cl_image_tag offer.photo.key, height: 200, width: 200, crop: :fill %>
        <% else %>
          <p><%= image_tag("cabide.jpg") %></p>
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to offer.name.capitalize, offer_path(offer), class: "a-primary" %></h2>
            <p><%= offer.description %></p>
          </div>
          <div class="card-trip-pricing">
            <p><%= link_to 'Editar', edit_offer_path(offer), class: "a-primary"%></p>
            <p><%= link_to 'Apagar', offer, method: :delete, data: { confirm: 'Are you sure?' }, class: "a-primary"%></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

