<h1>Me empresta hoje</h1>
<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Offer</h1>
  <div>
    <% if @offer.photo.present? %>
      <%= cl_image_tag @offer.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <%= image_tag("cabide.jpg")  %>
    <% end %>
    <p>
      <strong>Name:</strong>
      <%= @offer.name %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= @offer.description %>
    </p>
    <p>
      <strong>Gender:</strong>
      <%= @offer.gender %>
    </p>
    <p>
      <strong>Type:</strong>
      <%= @offer.offer_type %>
    </p>
    <p>
      <strong>Style:</strong>
      <%= @offer.style %>
    </p>
    <p>
      <strong>Size:</strong>
      <%= @offer.size %>
    </p>
    <p>
      <strong>Price per day:</strong>
      <%= @offer.price_per_day %>
    </p>
    <p>
      <strong>User:</strong>
      <%= @offer.user_id %>
    </p>
  </div>
  <div>
    <% if policy(@offer).edit? %>
      <%= link_to 'Edit', edit_offer_path(@offer) %>
    <% end %>
    <% if policy(@offer).edit? %>
      <%= link_to 'Destroy', offer_path, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <%= link_to 'Back', offers_path %>
  </div>
</div>
