<h1>Me empresta hoje</h1>
<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Offer</h1>
  <div>
    <% if @offer.photo.present? %>
      <%= cl_image_tag @offer.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <%= image_tag("cabide.jpg")  %>
    <% end %>
    <p>
      <strong>Name:</strong>
      <%= @offer.name %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= @offer.description %>
    </p>
    <p>
      <strong>Gender:</strong>
      <%= @offer.gender %>
    </p>
    <p>
      <strong>Type:</strong>
      <%= @offer.offer_type %>
    </p>
    <p>
      <strong>Style:</strong>
      <%= @offer.style %>
    </p>
    <p>
      <strong>Size:</strong>
      <%= @offer.size %>
    </p>
    <p>
      <strong>Price per day:</strong>
      <%= @offer.price_per_day %>
    </p>

    
    <p>
      <strong>Avaliação:</strong>
      <%= @offer.rating %>
    </p>
    <p>
      <strong>User:</strong>
      <%= @offer.user_id %>
    </p>

</div>
  <div>
    <% if policy(@offer).edit? %>
      <%= link_to 'Edit', edit_offer_path(@offer) %>
    <% end %>
    <% if policy(@offer).destroy? %>
      <%= link_to 'Destroy', offer_path, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <%= link_to 'Avalie', new_offer_review_path(@offer) %>

    <%= link_to 'Back', offers_path %>
  </div>
  <br>
  <h2>Rents</h2>
  <div>
    <table class="table table-bordered">
      <tbody>
        <thead>
          <th>Seq</th>
          <th>Begin date</th>
          <th>End date</th>
          <% if @offer.user == current_user %>
            <th>Delete?</th>
          <% end %>
        </thead>
        <% i = 0 %>
        <% offer_ordered = @offer.rents.order("begin_date").all %>
        <% offer_ordered.each do |rent| %>

          <% if @offer.user_id == current_user || rent.final_date >= Date.today %>
            <tr>
              <% i = i + 1 %>
              <td><%= i %></td>
              <td><%= rent.begin_date %></td>
              <td><%= rent.final_date %></td>
              <% if @offer.user == current_user %>
                <td>
                  <%= link_to rent_path(rent), method: :delete, data: { confirm: "Are you sure?" } do %>
                    <i class="fa fa-trash destroy_dose"></i>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
        <% if i == 0 %>
          <tr>
            <% if @offer.user == current_user %>
              <td>This offer was never rented</td>
            <% else %>
              <td>No rents for this offer</td>
            <% end %>
            <td></td>
            <td></td>
            <% if @offer.user == current_user %>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>

  <div>
      <%= render "rents/new", offer: @offer, rent: @rent %>
  <div>
    <ul class="list-group">
      <% @offer.reviews.each do |review| %>
        <li class="list-group-item">
          <%= review.content %> |
          <%= link_to 'Apagar', review_path(review), method: :delete, data: { confirm: 'Tem certeza de que deseja apagar a avaliação?' } %>
        </li>
      <% end %>
    </ul>

  </div>
</div>


<!-- ... -->
